<% if @current_user.present? %>
  <div class="highscore">
    Your highest score: <%= @highscore %>
  </div>
  <div class="new-map">
    <button id="map-button">GENERATE NEW MAP!</button>
  </div>
  <%= javascript_include_tag 'game' %>
<% else %>
  <div class="signup-message">
    Sign up now or login to play!
  </div>
<% end %>
